<div class="jumbotron text-center">
    <h1>Danh sách sản phẩm</h1>
</div>

<div class="container">
    <div class="row">
        <% for(var i=0; i<products.length; i++) {%>
      <div class="col-sm-4">
        <h3><%= products[i].name %></h3>
      </div>
      <% } %>
    </div>
  </div>


