<div class="jumbotron text-center">
  <h1>Sản phẩm</h1>
</div>

<div class="container">
  <div class="row" style="justify-content: center;">
    <ul class="list-unstyled">
      <% for (const [key, value] of Object.entries(product)) { %>
        <li>
          <h5 style="display: inline-block;"><%= key %></h5> : <%= value %>
        </li>
      <% } %>
    </ul>
  </div>
</div>
